<div class="pageBodyContainer">
  <div class="pageBody">
    <div class="inputRelativeParent">
      <div class="inputContainer">
        <app-input [value]="taskDescription" (valueChange)="taskDescriptionChange.emit($event)"
          placeholder="Adicione uma nova tarefa" />
        <app-button buttonText="Criar" [showIcon]="true" (click)="createTask(taskDescription)" />
        </div>
    </div>
    <app-tasks-list [tasks]="tasks" [removeTask]="removeTask" [changeTaskStatus]="changeTaskStatus"/>

  </div>
</div>
